
        *{
            text-decoration: none;
        }
        .navbar{
            background-color: rgb(204, 189, 219); font-family:  Calibri; padding-right: 20px; padding-left: 20px;
        }
        .navdiv{
            display:flex; align-items: center; justify-content: space-between;
        }
        .logo a{
            font-size: 90px; font-weight: 600; color:blue;
        }
        li{
            list-style: none; display: inline-block;
        }
        li a{
            color: blueviolet; font-size: 18px; font-weight: bold; margin-right: 25px;
        }
 